{{ define "main" }}

{{ partial "navigation.html" . }}

{{ $page := . }}
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.portfolio.portfolio.enable }}
{{ with $data.portfolio.portfolio }}

<section class="section">
    <div class="container">

        {{ $theDate := $page.Date }}
        {{ $content := $page.Content }}
        {{ $project_urls := $page.Params.project_urls }}

        {{ range first 1 (where .portfolio_Item "id" "eq" $page.Params.project_id ) }}

        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h1>
                    {{ partial "i18n_if_exists" (dict "val" .title) }}
                </h1>
                <ul class="list-inline mb-50">
                    <li class="list-inline-item">{{ dateFormat "Monday, Jan 2, 2006" $theDate }}</li>
                </ul>
                {{ with .image }}<img class="img-fluid mb-50" src="{{ . | absURL }}" alt="blog-image">{{ end }}
            </div>

            <div class="col-lg-8 offset-lg-2">
                <div class="post-single-content">

                    <p>
                        {{ partial "i18n_if_exists" (dict "val" .content) }}
                    </p>

                    {{ with $project_urls }}
                    <b>{{ i18n "project-urls" }}: </b>
                    <ul>
                    {{ range . }}
                        <li>
                            <a target="_blank" href="{{ . }}">{{ . }}</a>
                        </li>
                    {{ end }}
                    </ul>
                    {{ end }}

                    <!-- Content from Markdown AKA Long description-->
                    <h3>{{ i18n "description" }}: </h3>
                    {{ $content }}
                </div>
            </div>

            <div class="col-lg-8 offset-lg-2">

                {{ if ( gt (len .images) 0 ) }}
                <h3>{{ i18n "gallery" }}: </h3>
                {{ partial "carousel_simple" (dict "id" "project-carousel"  "images" .images) }}
                {{ end }}
            </div>

        </div>

        {{ end }}

    </div>
</section>
{{ end }}
{{ end }}

{{ end }}
