{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
    <div class="container">

        {{ $theDate := .Date }}
        {{ $content := .Content }}

        {{ range first 1 (where .Site.Data.portfolio.portfolioItem "id" "eq" .Params.project_id ) }}

        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h1>{{ .title }}</h1>
                <ul class="list-inline mb-50">
                    <li class="list-inline-item">{{ dateFormat "Monday, Jan 2, 2006" $theDate }}</li>
                </ul>
                {{ with .image }}<img class="img-fluid mb-50" src="{{ . | absURL }}" alt="blog-image">{{ end }}
            </div>

            <div class="col-lg-8 offset-lg-2">
                <div class="post-single-content">
                    <!-- Content from Markdown -->
                    {{ $content }}
                </div>
            </div>

            <div class="col-lg-8 offset-lg-2">
                <h3>{{ i18n "description" }}: </h3>
                <p>{{ .description }}</p>

                {{ if ( gt (len .images) 0 ) }}
                <h3>{{ i18n "gallery" }}: </h3>
                {{ partial "carousel_simple" (dict "id" "project-carousel"  "images" .images) }}
                {{ end }}
            </div>

        </div>

        {{ end }}

    </div>
</section>

{{ end }}
