{{ if .Site.Params.banner.enable }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-area" style='background-image: url("{{ .Site.Params.banner.bgImage | absURL }}");'>
    <div class="block">
        {{with .Site.Params.banner.icon}}
        <div class="video-button">
            <i class="{{ . }}"></i>
        </div>
        {{ end }}

        {{ with .Site.Params.banner.heading }}
        {{ with i18n . }} <h1>{{ . }}</h1> {{ else }} <h1>{{ . }}</h1> {{ end }}
        {{ end }}

        {{ with .Site.Params.banner.content }}
        {{ with i18n . }} <p>{{ . }}</p> {{ else }} <p>{{ . }}</p> {{ end }}
        {{ end }}

        {{ if .Site.Params.banner.btn}}
        <a data-scroll href="{{ .Site.Params.banner.btnURL}}" class="btn btn-transparent">
            {{ with .Site.Params.banner.btnText }}
            {{ with i18n . }} {{ . }} {{ else }} {{ . }} {{ end }}
            {{ end }}
        </a>
        {{ end }}
    </div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
